mixin new_article(val)
  a.article(href="/article/" + val.ID)
            img.img.cover(src='/upload/' + val.ID + '/cover.webp' alt='')
            case val.section
              when "f1"
                .type#f1
                  .little FORMUŁA 1
              when "f2"
                .type#f2
                  .little FORMUŁA 2
              when "fe"
                .type#fE
                  .little FORMUŁA E
              when "f1basics"
                .type#f1Basics
                  .little PODSTAWY F1
              when "other"
                .type#other
                  .little POZOSTAŁE ARTYKUŁY
            .notImg
              .title= val.title
              .text= val.short
            
            