mixin small_article(val)
    a.square(href="/article/" + val.ID)
          
          img.img(src='/upload/' + val.ID + '/cover.webp' alt='')
          .notImg
            case val.section
              when "f1"
                .type.top#f1
                  .little FORMUŁA 1
              when "f2"
                .type.top#f2
                  .little FORMUŁA 2
              when "fe"
                .type.top#fE
                  .little FORMUŁA E
              when "f1basics"
                .type.top#f1Basics
                  .little PODSTAWY F1
              when "other"
                .type.top#other
                  .little POZOSTAŁE ARTYKUŁY
            .content
              .title
                p= val.title 
              .text= val.short
              .next 
                p(style="display: block; font-weight: bold") Czytaj dalej 
                div(style="display: block; position: relative; height: 100%; width: 25px;")
                  i.fas.fa-arrow-right
            case val.section
              when "f1"
                .type.bottom#f1
                  .little FORMUŁA 1
              when "f2"
                .type.bottom#f2
                  .little FORMUŁA 2
              when "fe"
                .type.bottom#fE
                  .little FORMUŁA E
              when "f1basics"
                .type.bottom#f1Basics
                  .little PODSTAWY F1
              when "other"
                .type.bottom#other
                  .little POZOSTAŁE ARTYKUŁY