mixin small_article(val)
    a.square(href="/article/" + val.ID)
          
          img.img(src='/upload/' + val.ID + '/cover.webp' alt='')
          .notImg
            case val.section
              when "f1"
                .type.top#f1(style="background-color: #e10600")
                  .little FORMUŁA 1
              when "f2"
                .type.top#f2(style="background-color: #0090d0")
                  .little FORMUŁA 2
              when "fe"
                .type.top#fE(style="background-color: #50cef7")
                  .little FORMUŁA E
              when "f1basics"
                .type.top#f1Basics(style="background-color: #f7360c")
                  .little PODSTAWY F1
              when "rallycross"
                .type#rallycross(style="background-color: #02f3e9")
                  .little RALLYCROSS
              when "other"
                .type.top#other(style="background-color: #3be307")
                  .little POZOSTAŁE ARTYKUŁY
            .content
              .title
                p= val.title 
              .text= val.short
              .next 
                p(style="display: block; font-weight: bold") Czytaj dalej 
                div(style="display: block; position: relative; height: 100%; width: 25px;")
                  i.fas.fa-arrow-right