extends ../layout

block css
    link(rel='stylesheet' href='/css/article_site.css')
    link(rel='stylesheet' href="/css/f1drivers.css")

block title
    title Kierowcy F1 - F1podlupą.pl

block content
    include f1driver
    include ../views_components/see_more
    #main
        #content
            .title Kierowcy F1
                .underline#f1
            #list
                each driver in drivers
                    +f1driver(driver)
            +see_more("f1")
        +see_also(articlesSliderA, articlesSliderB, articles)