extends ../layout


block css
        link(rel='stylesheet' href='/slick/slick.css')
        link(rel="stylesheet" href="slick/slick-theme.css")
        link(rel='stylesheet' href='/css/f1.css')

block title
    title F1 - F1podlupą.pl

block content
    #main
        #help
            #description
                h1.title Formuła 1
                    .underline
                .text W tym dziale znajdziesz najważniejsze i najnowsze wiadomości ze świata F1, a także mnóstwo artykułów i ciekawostek o królowej motorsportu.
                #links
                    a(href="#")
                        p Kierowcy
                        img(src="/img/driver.png" alt="driver").icon
                        img.img(src="/img/f1driver.jpg" alt="driver")
                    a(href="/f1/teams")
                        p Zespoły
                        img(src="/img/group.png" alt="team").icon
                        img.img(src="/img/f1team.jpg" alt="team")
                    a(href="#")
                        p Tory Formuły 1
                        img(src="/img/track.png" alt='track').icon
                        img.img(src="/img/f1circuit.jpg" alt="track")

            #f1car
                h1.title Samochody F1
                    .underline
                .text Najszybsze. Najlepsze. Najbardziej wymagające.
                img(src="/img/f1car.jpg" alt="f1car")
                .text2 Chcesz dowiedzieć się o budowie tych cudów technologii? Jakie prędkości osiągają? Jakie przeciążenia towarzyszą kierowcy podczas pokonywania najbardziej wymagających zakrętów?
                a(href="") Kliknij tutaj

        .f1basics
            h1.title Podstawy F1
                .underline
            .text Zaczynasz przygodę z Formułą 1? Tutaj znajdziesz artykuły, które pomogą Ci zrozumieć jak działa świat królowej motorsportu.


            .slider
                each val in articlesF1basics
                    .slide
                        +small_article(val)
        
        .articles
            .con-title Artykuły F1
            .squares
                each val in articlesF1
                    +small_article(val)
        


            

    block scripts
    script(src="/js/f1.js")
        



