extends ../layout


block css

        link(rel='stylesheet' href='/slick/slick.css')
        link(rel="stylesheet" href="/slick/slick-theme.css")
        link(rel='stylesheet' href='/css/f1.css')
        link(rel='stylesheet' href='/css/tile_introduction.css')
        link(rel='stylesheet' href="/css/car_display.css")


block title
    title F1 - F1podlupą.pl

block content

    include ../views_components/tile_introduction.pug
    include ../views_components/car_display.pug

    #main
        //- #help
        //-     #description
        //-         h1.title Formuła 1
        //-             .underline
        //-         .text W tym dziale znajdziesz najważniejsze i najnowsze wiadomości ze świata F1, a także mnóstwo artykułów i ciekawostek o królowej motorsportu.

        //-         #links_introduction
        //-             +tile_introduction("/f1/drivers", "Kierowcy" , "/img/driver.png" , "/img/f1driver.jpg", "driver")
        //-             +tile_introduction("/f1/teams", "Zespoły" , "/img/group.png" , "/img/f1team.jpg", "team")

        //-     #f1car
        //-         h1.title Samochody F1
        //-             .underline
        //-         .text Najszybsze. Najlepsze. Najbardziej wymagające.
        //-         img(src="/img/f1car.jpg" alt="f1car")
        //-         .text2 Chcesz dowiedzieć się o budowie tych cudów technologii? Jakie prędkości osiągają? Jakie przeciążenia towarzyszą kierowcy podczas pokonywania najbardziej wymagających zakrętów?
        //-         a(href="") Kliknij tutaj

        #introduction
            .description
                //- .leftD
                //- .titleOnClickD Formuła 2
                    .underline
                //- .centerD
                h1.title Formuła 1
                    .underline
                .text W tym dziale znajdziesz najważniejsze i najnowsze wiadomości ze świata F1, a także mnóstwo artykułów i ciekawostek o królowej motorsportu.
                #links_introduction
                    +tile_introduction("/f1/drivers", "Kierowcy" , "/img/driver.png" , "/img/f1driver.jpg", "driver")
                    +tile_introduction("/f1/teams", "Zespoły" , "/img/group.png" , "/img/f1team.jpg", "team")

            +car_display(car)
            
        .shifter

        if paginationInfo.page == 1
            .newest-articles
                .con-title Najnowsze wiadomości - Formuła 1
                each val in newest
                    +new_article(val)

        .f1basics
            h1.title Podstawy F1
                .underline
            .text Zaczynasz przygodę z Formułą 1? Tutaj znajdziesz artykuły, które pomogą Ci zrozumieć jak działa świat królowej motorsportu.


            .slider#sliderForF1
                each val in articlesF1basics
                    .slide
                        +small_article(val)
        
        .articles
            .con-title Artykuły - Formuła 1
            .squares
                each val in articlesF1
                    +small_article(val)
        +pagination(paginationInfo)
        


            

    block scripts
    script(src="/js/f1.js")
    script(src='/js/car_display.js')
        



