extends ../layout

block css
    link(rel='stylesheet' href="/css/f1teams.css")

block title
    title Zespoły F1 - F1podlupą.pl

block content
    #main
        #introduction
            .title Zespoły F1
                .underline
            .text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        #content
            .team
                .name Mercedes-AMG Petronas
                    .underline(style="background-color: #0ca597")
                img(src="/img/f1teams/mercedes.jpg", alt="mercedes")
                h3 fot: www.F1i.com
                .info
                    .text1 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    .text2 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    .text3 
                        ul
                            li Lorem ipsum dolor sit amet.
                            li Lorem ipsum dolor sit amet.
                            li Lorem ipsum dolor sit amet.

            .team
                .name Red Bull Racing
                    .underline(style="background-color: #112b41")
                img(src="/img/f1teams/redBull.jpg", alt="red bull")
                h3 fot: www.eurosport.co.uk
                .info
                    .text1 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    .text2 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    .text3 
                        ul
                            li Lorem ipsum dolor sit amet.
                            li Lorem ipsum dolor sit amet.
                            li Lorem ipsum dolor sit amet.