#f1 {
  background-color: #e10600;
}

#f2 {
  background-color: #0090d0;
}

#fE {
  background-color: #50cef7;
}

#f1Basics {
  background-color: #f7360c;
}

#other {
  background-color: #3be307;
}

#rallycross {
  background-color: #02f3e9;
}

.text1 {
  font-size: 1.1em;
  text-align: center;
  margin: 1rem auto;
  padding: 0.5rem;
  font-family: "Lato", sans-serif;
}

.opis {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  margin: 1rem auto;
  font-family: "Lato", sans-serif;
  text-align: center;
}

.opis a {
  color: black;
}

.opis * {
  margin: 0.3em;
}

.opis a {
  font-size: 1.6em;
  margin: 0.3em;
}

.opis p {
  font-size: 1.5em;
}

.opis .email {
  font-size: 1.3em;
}

.opis .name {
  width: 100%;
  text-align: center;
  font-family: "Exo 2", sans-serif;
  margin: 0 auto;
  font-size: 2em;
}

.underline {
  border-bottom: 3px solid;
}

.M .underline {
  border-color: #e10600;
}

.S .underline {
  border-color: #112b41;
}

@media only screen and (min-width: 650px) {
  .opis {
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 768px) {
  #main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 5% 40% 40% 5%;
        grid-template-columns: 5% 40% 40% 5%;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: ". first first ." ". m s .";
  }
  .firstOpis {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: first;
  }
  .M {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: m;
  }
  .S {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: s;
  }
  .opis {
    width: 100%;
    font-size: 1.5em;
    -ms-flex-item-align: baseline;
        align-self: baseline;
    margin: 2rem auto;
  }
}
