#f1 {
  background-color: #e10600;
}

#f2 {
  background-color: #0090d0;
}

#fE {
  background-color: #50cef7;
}

#f1Basics {
  background-color: #f7360c;
}

#other {
  background-color: #3be307;
}

#rallycross {
  background-color: #02f3e9;
}

#main {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.desktop {
  margin: 2rem auto 2rem;
  width: 90%;
  border-radius: 2rem;
  background-color: white;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.desktop a {
  width: 100%;
  color: black;
  text-decoration: none;
  margin: 1rem;
  font-family: "Lalezar", cursive;
  font-size: 1.5rem;
  display: block;
  text-align: center;
  overflow: hidden;
  border-radius: 0.5rem;
}

.desktop a:hover {
  color: white;
  background-color: black;
}

.desktop .add:hover {
  background-color: darkorange;
}

.desktop .edit:hover {
  background-color: #0090d0;
}

.desktop .delete:hover {
  background-color: #e10600;
}

.desktop .logout:hover {
  background-color: black;
}

.desktop .changeData:hover {
  background-color: #02f3e9;
}

.desktop h1 {
  font-family: "Exo 2", sans-serif;
  font-size: 2rem;
  border-bottom: 3px solid red;
  padding: 0.2rem;
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

.desktop .loginForm {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.desktop label {
  width: 260px;
  margin: 1px;
  font-family: "Lalezar", cursive;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 0.6rem;
}

.desktop label input[type="text"],
.desktop label input[type="password"] {
  font-size: 1rem;
  width: 60%;
}

.desktop input[type="submit"] {
  padding: 0.3rem 1.5rem;
  font-size: 1.2rem;
  font-family: "Lalezar", cursive;
  border: 2px solid black;
  border-radius: 0.6rem;
  background-color: lightgrey;
  text-align: center;
  cursor: pointer;
}

.DC form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.DC form p {
  width: 100%;
}

.DC form input[type="submit"] {
  width: 40%;
  border: none;
  color: white;
}

.DC form .title {
  font-size: 1.5rem;
  font-family: "Lato", sans-serif;
  margin: .5rem auto 2rem;
}

.DC form .yes {
  background-color: #0090d0;
}

.DC form .no {
  background-color: #e10600;
}

form[name="dataForm"] {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem auto 1rem;
}

form[name="dataForm"] input {
  margin: 0 !important;
  font-size: 1rem;
}

form[name="dataForm"] input[name="name"] {
  width: 20%;
}

form[name="dataForm"] input[name="nation"] {
  width: 10%;
}

form[name="dataForm"] input[name="achievements"] {
  width: 40%;
}

form[name="dataForm"] input[name="src"] {
  width: 5%;
}

@media only screen and (min-width: 650px) {
  .desktop {
    width: 70%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .desktop input[type="text"],
  .desktop input[type="password"] {
    margin-right: 10%;
  }
  .desktop a {
    width: 40%;
    min-width: 200px;
    padding: 0.7rem;
    font-size: 1.8rem;
    border-radius: 0.8rem;
  }
  .desktop label {
    width: 300px;
  }
}
