#f1 {
  background-color: #e10600;
}

#f2 {
  background-color: #0090D0;
}

#fE {
  background-color: #50CEF7;
}

#f1Basics {
  background-color: #F7360C;
}

#other {
  background-color: #3BE307;
}

h3 {
  color: #3d3d3d;
  font-family: "Lato", sans-serif;
  font-size: .9rem;
  font-style: italic;
  width: 100%;
  text-align: right;
  margin-top: .2rem;
}

#main {
  white-space: pre-line;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#article {
  margin: 0 auto;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#article .underline {
  width: 100%;
  height: 4px;
  margin: 0.5rem 0 0.3rem;
}

#article .bottomUnderline {
  margin: 0 0 0.3rem;
}

#article .cover {
  display: block;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 4rem;
}

#article #title {
  font-family: "Exo 2", sans-serif;
  font-size: 2.1rem;
  text-align: center;
}

#article .author {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 1.5rem;
  color: #353535;
}

#article .highlight {
  font-weight: bold;
  font-size: 2rem;
}

#article #short {
  font-family: "Lato", sans-serif;
  color: black;
  margin-bottom: 2rem;
  font-size: 1.4rem;
  line-height: 1.7rem;
  text-align: center;
}

#article #text {
  font-family: "Lato", sans-serif;
  color: black;
}

#article #text img {
  max-width: 100%;
  margin: 1rem auto;
  display: block;
}

#article #text p {
  font-size: 1.1rem;
  margin-top: -2.2rem;
  line-height: 2rem;
  color: #353535;
  overflow-wrap: break-word;
}

#article #text p br {
  line-height: 0;
}

#article #text h1 {
  font-size: 1.6rem;
  margin-bottom: 1.3rem;
}

#article #text a {
  color: red;
}

#seeAlso {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 650px) {
  #article #title {
    font-size: 2.5rem;
  }
  #article #text p {
    font-size: 1.3rem;
  }
  #article #text h1 {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 800px) {
  #article {
    width: 80%;
    /* padding: 2rem; */
    /* background: white; */
    margin-bottom: 2rem;
    /* border-radius: 3rem; */
  }
  #article #short {
    margin: 0.5rem 0 2rem 0;
    text-align: start;
  }
  #article p {
    letter-spacing: 0.02rem;
  }
  #article .cover {
    max-width: 1000px;
  }
  #article #text h1 {
    font-size: 2.5rem;
    line-height: 3.5rem;
    margin-bottom: 1.5rem;
  }
  #seeAlso {
    width: 90%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media only screen and (min-width: 1200px) {
  #main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #article {
    width: 50%;
    margin: unset;
    margin-bottom: 2rem;
  }
  #article #title {
    font-size: 3rem;
  }
  #seeAlso {
    width: 30%;
    margin: unset;
    margin-left: 5%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .square {
    width: 100%;
  }
}

@media only screen and (min-width: 1500px) {
  #article {
    width: 45%;
  }
  #seeAlso {
    width: 25%;
  }
}
