#f1 {
  background-color: #e10600;
}

#f2 {
  background-color: #0090d0;
}

#fE {
  background-color: #50cef7;
}

#f1Basics {
  background-color: #f7360c;
}

#other {
  background-color: #3be307;
}

#rallycross {
  background-color: #02f3e9;
}

.newest-articles {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#introduction {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#introduction .tile_introduction p {
  border-color: #e10600;
}

.underline {
  width: 100%;
  height: 3px;
  background-color: #e10600;
  margin-top: 3px;
}

.description {
  width: 90%;
  margin: 0 auto 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.description .titleOnClickD {
  display: none;
}

.description .title {
  width: 90%;
  text-align: center;
  font-family: "Exo 2", sans-serif;
  font-style: italic;
  font-size: 3.2rem;
  margin: 0 auto 1rem;
}

.description .text {
  font-family: "Exo 2", sans-serif;
  font-size: 1.2rem;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 1rem;
  text-align: center;
}

/*    F1CAR    */
/*     F1BASICS    */
.f1basics {
  width: 100%;
  margin: 0 auto;
}

.f1basics > .title {
  font-family: "Exo 2", sans-serif;
  margin: 0 auto;
  text-align: center;
  font-size: 2.5rem;
  width: 81%;
  margin-bottom: 0.5rem;
}

.f1basics > .text {
  font-family: "Exo 2", sans-serif;
  font-size: 1.3rem;
  width: 81%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1rem;
}

/*   SLIDER   */
.slider {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.slider .square {
  width: 80%;
}

.slider .slick-arrow {
  /* position: absolute; */
  top: 45%;
  z-index: 4;
  width: 2.5rem;
  height: 2.5rem;
  /* color: white;
        opacity: 0.7; */
  /* cursor: pointer; */
}

.slider .slick-track {
  width: 100%;
}

.slider .slick-prev {
  left: 7%;
}

.slider .slick-next {
  right: 7%;
}

.slider .slide {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.slider .slide a {
  height: 270px;
}

.slick-prev:before,
.slick-next:before {
  font-size: 2.5rem;
  color: red;
}

.slick-dots {
  bottom: 10px;
}

/*   ARTICLESF1   */
.articlesF1 {
  margin: 0 auto;
  width: 100%;
}

@media only screen and (min-width: 650px) {
  .slider .slide a {
    height: 470px;
  }
  .slider .slide a .slick-arrow {
    top: 50%;
  }
  .slider .slide a .slick-prev {
    left: unset;
  }
  .slider .slide a .slick-next {
    right: unset;
  }
}

@media only screen and (min-width: 768px) {
  #introduction {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 90%;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    margin: 0 auto;
  }
  .description {
    height: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 47%;
    margin: 0;
    overflow: hidden;
    border-radius: 2rem;
    position: relative;
    opacity: 1;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    background-color: 2rem;
    background-color: white;
    border-radius: 2rem;
    padding: 1.4rem;
  }
  .description .title {
    font-size: 2.9rem;
    margin: 0 auto 2rem;
    line-height: 2.7rem;
  }
  .description .animationCD {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: translateX(-90%);
            transform: translateX(-90%);
  }
  .description .animationCD > * {
    opacity: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .description .animationTD {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
    opacity: 1;
  }
  .slider {
    width: 95%;
  }
  .slider .slide a {
    height: unset;
  }
  .slider .square {
    width: 90%;
  }
  .slider .slick-dots {
    bottom: -10px;
  }
  .articlesF1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media only screen and (min-width: 1224px) {
  #introduction .tile_introduction {
    width: 46%;
  }
  #introduction .tile_introduction p {
    font-size: 1.6rem;
  }
  #introduction .tile_introduction p::after {
    background-color: #e10600;
  }
  #introduction .tile_introduction .img {
    height: 230px;
  }
  .articlesF1 {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .slider {
    width: 90%;
    -webkit-transform: scale(103%);
            transform: scale(103%);
  }
}

@media only screen and (min-width: 1500px) {
  .newest-articles {
    width: 100% !important;
  }
  #main > #introduction, #f1basics {
    width: 100%;
    padding: 0 10%;
  }
  #introduction .title {
    margin-bottom: 1rem;
  }
  #introduction .text {
    font-size: 1.3rem;
  }
  #introduction .tile_introduction .img {
    height: 240px;
  }
  #introduction .tile_introduction p {
    font-size: 2rem;
  }
  .description {
    width: 62%;
    padding: 2rem;
  }
  .description .title {
    font-size: 4rem;
    line-height: 3.5rem;
  }
  .description .text {
    font-size: 1.6rem;
  }
  .f1basics {
    width: 80%;
  }
  .f1basics > .title {
    font-size: 3rem;
  }
  .f1basics > .text {
    font-size: 1.7rem;
  }
  #help {
    width: 80%;
  }
  .slider {
    width: 100%;
  }
  .lol {
    width: 50px;
  }
}
