#f1 {
  background-color: #e10600;
}

#f2 {
  background-color: #0090d0;
}

#fE {
  background-color: #50cef7;
}

#f1Basics {
  background-color: #f7360c;
}

#other {
  background-color: #3be307;
}

#rallycross {
  background-color: #02f3e9;
}

/* ARTICLES */
.newest-articles {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
