#f1 {
  background-color: #e10600;
}

#f2 {
  background-color: #0090D0;
}

#fE {
  background-color: #50CEF7;
}

#f1Basics {
  background-color: #F7360C;
}

#other {
  background-color: #3BE307;
}

.square {
  margin: 0;
  margin-bottom: 2rem;
  width: 47%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  text-decoration: none;
  background-color: black;
}

.square .img {
  margin: 0;
  height: 30vw;
  -o-object-position: 50% 0;
     object-position: 50% 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.square .notImg {
  width: 100%;
  background-color: black;
  color: white;
  z-index: 2;
}

.square .notImg .content {
  padding: 0.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.square .notImg .type {
  font-size: 1rem;
  width: 100%;
  height: 1rem;
}

.square .notImg .type .little {
  height: 100%;
  color: white;
  text-align: center;
  width: 100%;
  text-align: center;
  font-family: "Exo 2", sans-serif;
  font-style: italic;
  font-size: 0.8em;
}

.square .notImg .top {
  display: block;
}

.square .notImg .bottom {
  display: none;
}

.square .notImg .title {
  font-size: 0.9rem;
  font-weight: bold;
  font-family: "Exo 2", sans-serif;
}

.square .notImg .text {
  font-size: 1rem;
  display: block;
  display: none;
  padding: 0.5rem 0;
  font-family: "Lato", sans-serif;
}

.square .notImg .next {
  display: none;
  font-size: 0.7rem;
  width: 100%;
  height: 20px;
  text-align: center;
  font-family: "Lato", sans-serif;
}

.square:hover {
  cursor: pointer;
}

@media only screen and (min-width: 650px) {
  .square .notImg .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0.7rem;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .square .notImg .text {
    display: block;
    padding: 0;
    font-size: 2vw;
    line-height: 2.7vw;
  }
  .square .notImg .title {
    font-size: 2.5vw;
    margin-bottom: 0.4rem;
  }
  .square .notImg .next {
    padding-bottom: 0;
    line-height: 100%;
  }
}

:root {
  --heightSquare: 300px;
}

@media only screen and (min-width: 768px) {
  .square {
    margin: 0;
    margin-bottom: 2rem;
    width: 46%;
    height: var(--heightSquare);
    overflow: hidden;
    -webkit-transition: 0.1s;
    transition: 0.1s;
  }
  .square .img {
    max-height: unset;
    height: 70%;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
  }
  .square .notImg {
    height: var(--heightSquare);
    width: 100%;
    -webkit-transform: translateY(calc(var(--heightSquare) - 60px - 44px));
            transform: translateY(calc(var(--heightSquare) - 60px - 44px));
    -webkit-transition: 0.2s;
    transition: 0.2s;
    padding: 0;
  }
  .square .notImg .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 70px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.3rem;
    margin-bottom: 0.2rem;
  }
  .square .notImg .content {
    padding: 0.3rem 0.7rem 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .square .notImg .bottom {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .square .notImg .text {
    height: initial;
    -webkit-transition: 0.25s;
    transition: 0.25s;
    font-size: 1.1rem;
    line-height: 1.4rem;
  }
  .square .notImg .next {
    width: 94%;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    bottom: 1rem;
    font-size: 1.2rem;
    opacity: 1;
    text-transform: uppercase;
  }
  .square .notImg .next .fa-arrow-right {
    font-size: 1.3rem;
    display: block;
    position: absolute;
    right: 0;
  }
  .square .notImg .type {
    font-size: 1.3rem;
    width: 100%;
    height: 22px;
  }
  .square:hover .notImg {
    -webkit-transition: 0.2s;
    transition: 0.2s;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media only screen and (min-width: 950px) {
  :root {
    --heightSquare: 360px;
  }
  .square {
    width: 46%;
    height: var(--heightSquare);
  }
  .square .img {
    height: 66%;
  }
  .square .notImg {
    -webkit-transform: translateY(calc(var(--heightSquare) - 85px - 44px));
            transform: translateY(calc(var(--heightSquare) - 85px - 44px));
  }
  .square .notImg .text {
    padding: 1rem 0;
    font-size: 1.3rem;
    line-height: 1.6rem;
  }
  .square .notImg .title {
    font-size: 1.6rem;
    height: 90px;
  }
}

@media only screen and (min-width: 1224px) {
  :root {
    --heightSquare: 300px;
  }
  .square {
    width: 31%;
    height: var(--heightSquare);
  }
  .square .img {
    height: 67%;
  }
  .square .notImg {
    -webkit-transform: translateY(calc(var(--heightSquare) - 70px - 44px));
            transform: translateY(calc(var(--heightSquare) - 70px - 44px));
  }
  .square .notImg .text {
    padding: 0;
    font-size: 1.1rem;
    line-height: 1.4rem;
  }
  .square .notImg .title {
    height: 80px;
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 1500px) {
  :root {
    --heightSquare: 400px;
  }
  .square {
    width: 32%;
    height: var(--heightSquare);
  }
  .square .img {
    height: 68%;
  }
  .square .notImg {
    -webkit-transform: translateY(calc(var(--heightSquare) - 85px - 44px));
            transform: translateY(calc(var(--heightSquare) - 85px - 44px));
  }
  .square .notImg .text {
    padding: 1rem 0;
    font-size: 1.4rem;
    line-height: 1.7rem;
  }
  .square .notImg .title {
    font-size: 1.6rem;
    height: 85px;
  }
}
