extends ../layout

block css
    link(rel='stylesheet' href='/css/article_site.css')
    link(rel='stylesheet' href="/css/f1teams.css")
    link(rel='stylesheet' href="/css/f2teams.css")


block title
    title Kierowcy F2 - F1podlupą.pl

block content
    include ../views_components/f2driver

    #main
        #introduction
            .title Kierowcy F2
                .underline#f2
        
        #content
            #list
                each val in data
                    +f2driver(val.name, val.age, val.team, val.nation, val.achievements, val.photo, val.src)
            +see_more("f2")
        +see_also(articlesSliderA,articlesSliderB,articles)
