extends ../layout

block css
    link(rel='stylesheet' href='/css/article_site.css')
    link(rel='stylesheet' href="/css/f2teams.css")



block title
    title Zespoły F2 - F1podlupą.pl

block content
    include f2team
    include ../views_components/see_more

    #main  
        #content
            .title Zespoły F2
                .underline#f2

            #list
                each val in data
                    +f2team(val)
            +see_more("f2")
        +see_also(articlesSliderA, articlesSliderB, articles)