extends ../layout

block css
    link(rel='stylesheet' href="/css/f2teams.css")


block title
    title Zespoły F2 - F1podlupą.pl

block content
    include ../views_components/team
    include ../views_components/see_more

    #main
        #introduction
            .title Zespoły F2
                .underline#f2
        
        #content
            #list
                each val in data
                    +team(val.name, val.nation, val.achievements, val.photo, val.src)
            +see_more("f2")
        +see_also(articlesSliderA, articlesSliderB, articles)