*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    margin: 0 auto;
    width: 100%;
    height: 1400px;
    background-color: #f1f1f3;

}

#main{

    height: 95%;
    width: 100%;


}

#footer{
    height: 5%;
    background-color: black;
    color: lightgrey;
    text-align: center;
    width: 100%;
    
}

#articles{

height: 750px;
width: 100%;

}

/* _______ARTICLE_______ */

.article{

    margin: 0 auto;
    width: 70%;
    height: 300px;
    background-color: white;
    margin-bottom: 20px;
    /* border: 2px solid black; */
    position: relative;

    cursor: pointer;

}


.article .img {

    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 30% 0;


}

.article .container_for_img{

    position: absolute;
    top: 0;
    left: 0;
    width: 365px;
    height: 100%;


}

.article .notImg{

    width: calc(100% - 405px);
    z-index: 99;
    position: absolute;
    height: 100%;
    top: 0;
    right: 3%;
    background-color: white;
}

.article .type{

    position: absolute;
    width: 0.5%;
    height: 80%;
    top: 10%;
    right: 7px;
    background-color: red;
    

}

.article .title{
    font-size: 2.5vw;
    font-weight: bold;
    font-family: 'Exo 2', sans-serif;
    


}

.article .text {

    font-size: 1.5vw;
    font-family: 'Lato', sans-serif;

}

.article .triangle{

    position: absolute;
    top: 0;
    left: 265px;
    /* width: 13%;
    height: 100%; */
    z-index: 98;

}

.type .little{

    font-family: 'Exo 2', sans-serif;
    font-style: italic;
    display: none; 
    transform: rotate(-90deg);
    opacity: 1;
    transition: 1s;
    color: white;
    font-size:  20px;
    position: absolute;
    top: 40%;
    left: -50px;
    width: 130px;
    height: 20px;
}

/* _______SQUARE_______ */

.square{

    margin: 0 auto;
    width: 410px;
    height: 450px;
    /* border: 2px solid black; */
    position: relative;
    box-sizing: unset;
    /* transform-origin: center center; */

}

#news{

    padding-left: 12%;
    padding-right: 12%;
    margin: 0 auto;
    width: 100%;
    height: 600px;
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5%;

}

.square .img{

    margin: 0 auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 30% 0;
    position: absolute;
    top: 0;
    left: 0;

}

.square .notImg{

    position: absolute;
    width: 100%;
    height: 120px;
    background-color: black;
    color: white;
    padding: 15px;
    bottom: 0;
    left: 0;


}

.square:hover{

    cursor: pointer;
}

.square .title{
    font-size: 1.6vw;
    font-weight: bold;
    font-family: 'Exo 2', sans-serif;
}

.square .text{

    font-size: 1.5vw;
    display: none;
    transition: 1s;

}

.square .next {

    position: absolute;
    width: 100%;
    height: 50px;
    display: none;
    bottom: 0;
text-align: center;
font-family: 'Lato', sans-serif;

}

/* ________HEADER_______ */


#header{

    width: 100%;
    height: 150px;
    display: flex;
    background-color: black;
    margin-bottom: 30px;
    
}

#header #title{
    height: 100%;
    width: 40%;
    margin-left: 0;
    color: white;

}

#header .option_menu{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 0;
    cursor: pointer;
    padding: 10px;
}

.option_menu:hover{
    background-color: white;
    

}

.option_menu:hover p{
    color: black;
    

}


.option_menu p {
    font-size: 40px;
    flex: 0 0 100%;
    text-align: center;
    font-family: 'Lalezar', cursive;
    color: white;
}

#menu_strona_glowna{
    width: 250px;
}

#menu_f1{
    width: 120px;

}

#menu_f2{
    width: 120px;

}

#menu_fE{
    width: 120px;

}

#menu_kierowcy_f1{
    width: 200px;

}



#menu{
    height: 100%;
    width: 60%;
    display: flex;
}

.option_menu{
    background-color: black;
    color: white;
}

#div_for_icons{

    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 


}

#div_for_icons #fb{

    background-image: url("../img/facebook_logo.png");
    margin-right: 10px;

}

#div_for_icons #tt{
    background-image: url("../img/twitter_logo.png");

}

#div_for_icons a{
    margin: 0;
    height: 40px;
    background-size: 40px 40px;
    display: inline-block;
    width: 40px;


}

#xd{
    display: none;
}









