@media only screen and (max-width: 1380px){

  .article{

    margin: 0 auto;
    width: 70%;
    height: 20;
    background-color: white;
    margin-bottom: 20px;
    /* border: 2px solid black; */
    position: relative;

    cursor: pointer;

}

  .article .text {

    font-size: 1.6vw;
    font-family: 'Lato', sans-serif;

}
}