extends layout

block css
        link(rel='stylesheet' href='/css/about_us.css')
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet"> 
block title
 title O nas - F1podlupą.pl

block content

    #main
        .opis
            .name F1podlupą.pl
                .underline(style="background-color: black")
            .text1 Nasza strona skupia się na tematach powiązanych ze sportem motorowym, kładąc szczególny nacisk na „Formułę 1” oraz „Formułę 2”. Jesteśmy otwarci na różne propozycję współpracy.
            a.twitter(href="") Twitter 
            a.facebook(href="") Facebook
            p.email f1podlupa@gmail.com
        .M.opis
            .name Mikołaj Pacek
                .underline
            p Twórca strony, redaktor
            a.twitter(href="") Twitter 
            a.LinkedIn(href="") LinkedIn 
            p.email mikolaj.pacekk@gmail.com
        .S.opis
            .name Sebastian Kieć
                .underline
            p Redaktor naczelny
            a.twitter(href="") Twitter 
            a.LinkedIn(href="") LinkedIn 
            p.email sebakiec@gmail.com
