extends layout

block css
        link(rel='stylesheet' href='/css/about_us.css')
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet"> 
block title
 title O nas - F1podlupą.pl

block content

    #main

        .text1 Nasza strona skupia się na tematach powiązanych ze sportem motorowym, kładąc szczególny nacisk na „Formułę 1” oraz „Formułę 2”. Jesteśmy otwarci na różne propozycję współpracy.

