extends layout

block css
    link(rel='stylesheet' href="/css/admin.css")


block title
    title Admin - F1podlupą.pl

block content

    #main
        .desktop
            h1 ADMIN
            a.add(href="/admin/add") Dodaj artykuł
            a.edit(href="/admin/edit") Edytuj artykuł
            a.logout(href="/admin/logout") Wyloguj się
    
