extends layout

block css
    link(rel='stylesheet' href='/css/add_article.css')

block title
    title Edytuj artykuł - F1podlupą.pl

block content
    #main

        if error == 'IC'
            .edit_warning
                h2 Podany kod nie był numerem.
        if error == 'FNE'
            .edit_warning
                h2 Podany artykuł nie istnieje.

        .instrukcja.edit
            h1 INSTRUKCJA
            p Chcesz zedytować artykuł? Wejdź na stronie na ten artykuł, a następnie z jego adresu internetowego skopiuj jego KOD, i wklej go w poniższe pole opisane: TU WPISZ KOD. Następnie kliknij dalej, a strona przeniesie Cię do kreatora artykułu. Tam napisz ten artykuł na nowo wraz z poprawkami, a nastęnie kliknij utwórz. Server usunie poprzedni artykuł i zastąpni go nową kopią.
            br
            img.img_guide(src="/img/guide_edit_article.png" alt="guide_edit_article")

        form(method="POST" action='/admin/edit')
            label#code.label
                p.Names TU WPISZ KOD:
                input(type="text" name="code" minlength="13" required)

            button(value="Submit" class="submit") Dalej
