extends layout


block css
        link(rel='stylesheet' href='/slick/slick.css')
        link(rel="stylesheet" type="text/css" href="slick/slick-theme.css")
        link(rel='stylesheet' href='/STYLE/style_f1.css')

block title
    title F1 - F1podlupą.pl

block content
    #main
        #help
            #description
                h1.title Formuła 1
                    .underline
                .text W tym dziale znajdziesz najważniejsze i najnowsze wiadomości ze świata F1, mnóstwo artykułów, a także ciekawostki o królowej motorsportu.
                ul#links
                    li
                        a(href="#") Zespoły
                    li
                        a(href="#") Kierowcy

            #f1car
                h1.title Samochody F1
                    .underline
                .text Najszybsze. Najlepsze. Najbardziej wymagające.
                img(src="/img/f1car.jpg" alt="f1car")
                .text2 Chcesz dowiedzieć się o budowie tych cudów technologii? Jakie prędkości osiągają? Jakie przeciążenia towarzyszą kierowcy podczas pokonywania najbardziej wymagających zakrętów?
                a(href="") Kliknij tutaj

        .f1basics
            h1.title Podstawy F1
                .underline
            .text Zaczynasz przygodę z Formułą 1? Tutaj znajdziesz artykuły, które pomogą Ci zrozumieć jak działa świat królowej wyścigów.


            .slider
                each val in articlesF1basics
                    .slide
                        a.square(href="/article/" + val.ID)
                            img.img.cover(src='/upload/' + val.ID + '/cover.webp' alt='' onerror="standby(this)")
                            .notImg
                                .title= val.title 
                                .text= val.short
                                .next Czytaj dalej -->
        
        .con-title Artykuły o F1
        .articlesF1
            each val in articlesF1
                a.square(href="/article/" + val.ID)
                    img.img.cover(src='/upload/' + val.ID + '/cover.webp' alt='' onerror="standby(this)")
                    .notImg
                        .title= val.title 
                        .text= val.short
                        .next Czytaj dalej -->
        


            

    block scripts
    script(src="/js/f1.js")
        



