extends layout

block css
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet"> 
block title
 title Formuła E - F1podlupą.pl

block content

    #main

        h1 Już wkrótce