extends layout

block css
  link(rel='stylesheet' href='/css/index.css')


block title
  title F1podlupą.pl


block content
  #main
    .newest-articles
      .con-title Najnowsze wiadomości
      each val in newest
        +new_article(val)
        
    .articles
      .con-title Pozostałe wiadomości
      .squares
        each val in articles
          +small_article(val)
    +pagination(paginationInfo)

        

block scripts
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js" integrity="sha512-IQLehpLoVS4fNzl7IfH8Iowfm5+RiMGtHykgZJl9AWMgqx0AmJ6cRWcB+GaGVtIsnC4voMfm8f2vwtY+6oPjpQ==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/CSSRulePlugin.min.js" integrity="sha512-6MT8e40N5u36Um5SXKtwZmoKcCSg1XaKtexnXZPpQ4iJDHrBEHXKz37fnDovXezsaCd4oKCH5Y+vrcl7qpLPoA==" crossorigin="anonymous"></script>
  script(src='js/main_ui.js' crossorigin="anonymous")

  
  
