extends layout

block title
  title F1podlupą.pl

block content
  #main
    #articles
      .con-title Najnowsze wiadomości
      each val in newest
        a.article(href="/article/" + val.ID)
          img.img.cover(src='/upload/' + val.ID + '/cover.webp' alt='')
          .notImg
            .title= val.title
            .text= val.short
          
          case val.section
            when "f1"
              .type(style="background-color: red")
                .little FORMUŁA 1
            when "f2"
              .type(style="background-color: #0a00ff")
                .little FORMUŁA 2
            when "fe"
              .type(style="background-color: #00d3ff")
                .little FORMUŁA E
            when "f1basics"
              .type(style="background-color: rgb(136,0,21)")
                .little PODSTAWY F1
            when "others"
              .type(style="background-color: #3BE307")
                .little POZOSTAŁE ARTYKUŁY
    #news
      .con-title Pozostałe wiadomości
      each val in articles
        a.square(href="/article/" + val.ID)
          img.img.cover(src='/upload/' + val.ID + '/cover.webp' alt='')
          .notImg
            .title= val.title 
            .text= val.short
            .next 
              p(style="display: block; font-weight: bold") Czytaj dalej 
              div(style="display: block; position: relative; height: 100%; width: 25px;")
                i.fas.fa-arrow-right
  script(src='js/main_ui.js')
  
