extends layout

block content
    #main
        #variable
        .con-title Kierowcy F1
        #alphabet
            .container
                .letter
                    p A
                    i.fas.fa-chevron-left
                    .redline
            .container
                .letter
                    p B
                    i.fas.fa-chevron-left
                    .redline
                .surnames
                    a(href='#') Stoffel Vandoorne
                    a(href='#') Jean-Eric Vergne
                    a(href='#') Jean-Eric Vergne
                    a(href='#') Jean-Eric Vergne
                    a(href='#') Jos Verstappen
                    a(href='#') Max Verstappen
                    a(href='#') Sebastian Vettel
                    a(href='#') Jacques Villeneuve
            .container
                .letter
                    p C
                    i.fas.fa-chevron-left
                    .redline
            .container
                .letter
                    p D
                    i.fas.fa-chevron-left
                    .redline
            .container
                .letter
                    p E
                    i.fas.fa-chevron-left
                    .redline
            .container
                .letter
                    p F
                    i.fas.fa-chevron-left
                    .redline
            .container
                .letter
                    p G
                    i.fas.fa-chevron-left
                    .redline
            .container
                .letter
                    p H
                    i.fas.fa-chevron-left
                    .redline
            .container
                .letter
                    p I
                    i.fas.fa-chevron-left
                    .redline
            .container
                .letter
                    p J
                    i.fas.fa-chevron-left
                    .redline
            .container
                .letter
                    p K
                    i.fas.fa-chevron-left
                    .redline
            .container
                .letter
                    p L
                    i.fas.fa-chevron-left
                    .redline
            .container
                .letter
                    p M
                    i.fas.fa-chevron-left
                    .redline
            .container
                .letter
                    p N
                    i.fas.fa-chevron-left
                    .redline
            .container
                .letter
                    p O
                    i.fas.fa-chevron-left
                    .redline
            .container
                .letter
                    p P
                    i.fas.fa-chevron-left
                    .redline
            .container
                .letter
                    p Q
                    i.fas.fa-chevron-left
                    .redline
            .container
                .letter
                    p R
                    i.fas.fa-chevron-left
                    .redline
            .container
                .letter
                    p S
                    i.fas.fa-chevron-left
                    .redline
            .container
                .letter
                    p T
                    i.fas.fa-chevron-left
                    .redline
            .container
                .letter
                    p U
                    i.fas.fa-chevron-left
                    .redline
            .container
                .letter
                    p W
                    i.fas.fa-chevron-left
                    .redline
            .container
                .letter
                    p V
                    i.fas.fa-chevron-left
                    .redline
                .surnames
                    a(href='#') Stoffel Vandoorne
                    a(href='#') Jean-Eric Vergne
                    a(href='#') Jean-Eric Vergne
                    a(href='#') Jean-Eric Vergne
                    a(href='#') Jos Verstappen
                    a(href='#') Max Verstappen
                    a(href='#') Sebastian Vettel
                    a(href='#') Jacques Villeneuve
            .container
                .letter
                    p X
                    i.fas.fa-chevron-left
                    .redline
            .container
                .letter
                    p Y
                    i.fas.fa-chevron-left
                    .redline
            .container
                .letter
                    p Z
                    i.fas.fa-chevron-left
                    .redline

block scripts
    script(src="js/f1_drivers_ui.js")
