doctype html
html
    head    
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet' href='/css/base.css')
        link(rel='stylesheet' href='/css/new_article.css')
        link(rel='stylesheet' href='/css/small_article.css')
        link(rel='stylesheet' href='/css/toolsUsedInArticle.css')



        block css

        //-  link(rel="stylesheet" href="/fonts/css/all.css")
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />

        link(rel='icon' type='image/jpeg' href='/img/favicon.png')

        link(href='https://fonts.googleapis.com/css2?family=Lalezar&display=swap' rel='stylesheet')
        link(href='https://fonts.googleapis.com/css2?family=Exo+2:wght@900&display=swap' rel='stylesheet')
        link(href='https://fonts.googleapis.com/css2?family=Lato&display=swap' rel='stylesheet')
        link(href='https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,900&display=swap' rel='stylesheet')
        link(href='https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600;700;800;900&display=swap' rel='stylesheet')
        link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@700;800;900&display=swap' rel='stylesheet')
        script(src='https://code.jquery.com/jquery-3.5.0.min.js')
        script(type="text/javascript" src="slick/slick.js")


        block title
    body
        include views_components/new_article.pug
        include views_components/small_article.pug
        include views_components/pagination.pug

        header
            h2#nav-h2
                <i class="fas fa-bars"></i>
            a#logo(href="/")
                img(src="/img/f1kolorlogo.png" alt="logo")
            nav#navElements   
                
                //- a#strona_glownaMenu.option_menu(href='/')
                //-     p Strona główna
                a#f1Menu.option_menu(href='/f1')
                    p F1
                a#f2Menu.option_menu(href='/f2')
                    p F2
                div#otherSeries.option_menu
                    p Inne Serie Wyścigowe
                        i.fas.fa-chevron-up#crossForMenu
                    ul.submenuOS
                        li
                            a.option_menu(href="/fE") 
                                p FE
                        li 
                            a.option_menu(href="/rallycross") 
                                p Rallycross
                a#about.option_menu(href='/aboutUs')
                    p O Nas
            #div_for_icons
                    a#fb.icons(href='#' target="_blank")
                    a#tt.icons(href='https://twitter.com/Sebastian_Kiec' target="_blank")
        
                

        block content


        #footer
            p.copyright © F1podlupą.pl | Wszelkie prawa Zastrzeżone.
            .minimenu
                a#strona_glownaMenu.option_menu(href='/')
                    p Strona główna
                a#f1Menu.option_menu(href='/f1')
                    p F1
                a#f2Menu.option_menu(href='/f2')
                    p F2
                a#otherSeries.option_menu(href="/otherSeries")
                    p Inne Serie Wyścigowe
                a#about.option_menu(href='/aboutUs')
                    p O Nas

            #kontakt
                h1 Kontakt:
                a#email email@gmail.com
                #div_for_icons
                    a#fb.icons(href='#')
                    a#tt.icons(href='https://twitter.com/Sebastian_Kiec')
            p.creators Twórcy: Mikołaj Pacek & Sebastian Kieć 

        block scripts
        script(src='/js/menu.js')

        //-             

//- W tej sprawie zachęcamy do kontaktu poprzez adres e-mail: „[nazwa maila]” lub poprzez kontakt w wiadomości prywatnej za pośrednictwem naszych kont w  mediach społecznościowych (Facebook oraz Twitter). [najlepiej jakby to fb i tt było odnośnikiem na nasze konto]

//- 