<!DOCTYPE html>
<html>
  <head>   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="STYLE/style_mobile.css">
    <link rel="stylesheet" href="STYLE/style_f1_drivers_mobile.css">
    <link rel="stylesheet" href="STYLE/style_min650.css">
    <link rel="stylesheet" href="STYLE/style_min800.css">
    <link rel="stylesheet" href="STYLE/style_min950.css">
    <link rel="stylesheet" href="STYLE/style_min1200.css">
    <link rel="stylesheet" href="STYLE/style_min1500.css">
    <link rel="icon" type="image/jpeg" href="/img/ikonka.png">
    <link href="https://fonts.googleapis.com/css2?family=Lalezar&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@900&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,900&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600;700;800;900&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&amp;display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
    <title>F1podlupa.pl</title>
  </head>
  <body>
    <header>
      <div id="title">F1podlupą.pl</div>
      <nav>
        <h2 id="nav-h2">MENU</h2>
        <div id="nav_elements"><a class="option_menu" id="menu_strona_glowna" href="/">
            <p>Strona główna</p></a><a class="option_menu" id="menu_f1" href="#">
            <p>F1</p></a><a class="option_menu" id="menu_f2" href="#">
            <p>F2</p></a><a class="option_menu" id="menu_fE" href="#">
            <p>FE</p></a><a class="option_menu" id="menu_kierowcy_f1" href="/kierowcy_f1">
            <p>Kierowcy F1</p></a>
          <div id="div_for_icons"><a id="fb" href="#"></a><a id="tt" href="#"></a></div>
        </div>
      </nav>
    </header>
    <div id="footer">footerek sebuś and mikuś spółka</div>
    <script src="js/menu.js"></script>
  </body>
</html>