#help{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
}

#description{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

/* description */

#description .title{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    font-style: italic;
    font-size: 3.5rem;
    margin-bottom: 2rem;
}

.title .underline{
    width: 100%;
    height: 3px;
    background-color: red;
    margin-top: 3px;
}


#description .text{
    font-family: 'Exo 2', sans-serif;
    font-size: 1.5rem;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1rem;

}

#description ul{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 3rem;
}

ul a {
    text-decoration: none;
    color: black;
    font-family: 'Exo 2', sans-serif;

}

ul li{
    color: red;
    margin-bottom: .5rem;
}

/* f1car */

#f1car{
    width: 90%;
    background-color: #16161d;
    margin: 0 auto;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    padding: .5rem;

}

#f1car .title{
    color: white;
    font-family: 'Exo 2', sans-serif;
    margin: 0 auto;
    text-align: center;
    font-size: 2.5rem;
    width: 90%;
    margin-bottom: .5rem;
}

#f1car .text{
    color: white;
    font-family: 'Exo 2', sans-serif;
    font-size: 1.5rem;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 1rem;
  
}

#f1car img{
    width: 90%;
    margin: 0 auto;
    display: block;
    margin-bottom: 1rem;

}

#f1car .text2{
    color: white;
    text-align: center;
    margin: 0 auto;
    width: 90%;
    font-size: 1rem;
    font-family: 'Exo 2', sans-serif;
    margin-bottom: .2rem;


}

#f1car a{

    color: white;
    text-align: center;
    margin: 0 auto;
    width: 90%;
    font-size: 1rem;
    font-family: 'Exo 2', sans-serif;
}

/* f1basics */

.f1basics{
    width: 100%;
    margin: 0 auto;
}

.f1basics > .title{
    font-family: 'Exo 2', sans-serif;
    margin: 0 auto;
    text-align: center;
    font-size: 2.5rem;
    width: 81%;
    margin-bottom: .5rem;
}

.f1basics > .text{
    font-family: 'Exo 2', sans-serif;
    font-size: 1.3rem;
    width: 81%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 1rem;
}

:root {
    --arrow-size: 1.7rem;
}

.slider
{
    width: 100%;
    margin: 0 auto;
    position: relative;

}

.slider .square{
    width: 90%;
}

.slider .slick-arrow{
    /* position: absolute; */
    top: 40%;
    z-index: 99;
    width: var(--arrow-size);
    height: var(--arrow-size);
    font-size: 1.5rem;
    /* color: white;
    opacity: 0.7; */
    /* cursor: pointer; */
}

.slick-prev:before,
.slick-next:before
{
    font-size: 1.7rem;
    color: grey;
}

.slider .slick-prev{
    left: 7%;
}

.slider .slick-next{
    right: 7%;
}

.slick-dots{
    bottom: 10px;
}

.slider .slide{
    display: flex !important;
    justify-content: center !important; 
}

/* articlesF1 */

.articlesF1{
    margin: 0 auto;
    width: 90%;
}

@media only screen and (min-width: 650px){

    .con-title{
        font-size: 2.4rem;
    }

    #f1car .title{
        font-size: 3rem;
    }

    #f1car .text{
        font-size: 1.9rem;
    }

    #f1car .text2{
        font-size: 1.4rem;
    }

    #f1car a{
        font-size: 1.4rem;
    }

    .f1basics > .title {
        font-size: 3rem;
    }

    .f1basics > .text{
        font-size: 1.7rem;
    }

    
}

@media only screen and (min-width: 800px){


    .slider{
        width: 95%;
    }

    #description .title {
        font-size: 3.7rem;
    }

    #description .text {
        font-size: 1.7rem;
    }

    #description{
        margin: 0;
        margin-top: 5rem;
        width: 45%;
    }
    
    #f1car{
        margin: 0;
        margin-bottom: 2rem;
        width: 45%;
    }
    
    #help{
        flex-direction: row;
        width: 90%;
        justify-content: space-between;
    }

    #f1car .title{
        font-size: 2.3rem;
    }

    #f1car .text{
        font-size: 1.5rem;
    }

    #f1car .text2{
        font-size: 1.3rem;
    }

    #f1car a{
        font-size: 1.3rem;
    }

    .articlesF1{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }
}
@media only screen and (min-width: 1200px){

    .articlesF1{
        justify-content: space-between;
    }

    .slider{
        width: 100%;
    }

    #description{
        width: 50%;
    }

}

@media only screen and (min-width: 1500px){

    .articlesF1{
        width: 80%;
    }

    .f1basics{
        width: 85%;
    }

    #help{
        width: 80%;
    }

}