#main{
    white-space: break-spaces;
    display: flex;
    flex-direction: column;

}

#article{

    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
}

#seeAlso{

    width: 90%;
    margin: 0 auto;
    margin-bottom: 1rem;

    display: flex;
    flex-direction: column;
}

#article .underline{
    width: 100%;
    height: 4px;
    margin-top: 1rem;
}

#article .cover {

    display: block;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 2rem;


}

#article #title {

    font-family: 'Exo 2', sans-serif;
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 1rem;
    
}

#article #author{
    margin-bottom: .5rem;
}

#article .highlight{

    font-weight: bold;
    font-size: 2rem;
}

#article #text, #article #short {

    font-family: 'Lato', sans-serif;
    color: black;
    font-size: 1.3rem;
    margin-bottom: 2rem;

}

@media only screen and (min-width: 650px){

    #article #title {
        font-size: 2.5rem;

    }


}

@media only screen and (min-width: 800px){
    #article{
        width: 80%;
        
    }

    #article #text, #article #short {
        font-size: 1.5rem;

    }

    #article .cover {
        max-width: 1000px;

    }

    #seeAlso{
        width: 80%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .square{
        width: 45%;
    }

    .square .next {
        opacity: 0;
    }

    .square:hover .next {
        opacity: 1;
        transition: .2s;
    }


}

@media only screen and (min-width: 1200px){

    #article #title {
    font-size: 3rem;

    }

    #article {
        width: 50%;
        margin: unset;
    }

    #seeAlso{
        width: 30%;
        margin: unset;
        flex-direction: column;
        justify-content: unset;
    }

    #main{
        flex-direction: row;
        justify-content: center;
    }

    .square{
        width: 90%;
        margin: 0 0 2rem auto;
        height: 350px;
    }

}

@media only screen and (min-width: 1500px){

    #article {
    width: 55%;
    }

    #seeAlso{
        width: 25%;
    }

    #seeAlso .con-title{
        margin: 0 0 2rem auto;
        width: 90%;
    }

}
