extends ../layout

block css
    link(rel='stylesheet' href='/css/add_article.css')
    link(rel='stylesheet' href='/css/admin.css')


block title
    title Dodaj artykuł - potwierdzenie - F1podlupą.pl

block content
    #main

       
    .desktop.DC
        p.Names Artykuł dodany do bazy danych.
        a(href="/") Strona główna
        a(href="/admin") Admin
